{% extends 'panel_base.html' %}

{% block content %}
    <div class="container">

        <table>
            <thead>
            <tr>
                <th>
                    PK
                </th>
                <th>
                    Title
                </th>
                <th>
                    Image
                </th>
                <th>
                    Price
                </th>
                <th>
                    Description
                </th>
                <th>
                    Control
                </th>

            </tr>

            </thead>
            <tbody>
            {% for Product in Products %}

                <tr>
                    <td>
                        {{ Product.pk }}
                    </td>
                    <td>
                        {{ Product.Title }}
                    </td>
                    <td>
                        {{ Product.Image }}
                    </td>
                    <td>
                        {{ Product.Price }}
                    </td>
                    <td>
                        {{ Product.Description }}
                    </td>
                    <td>
                        <a class="btn btn-danger" href="{% url 'product-remove' Product.pk %}"> Remove </a>

                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <h2>
            Add
        </h2>
        <form method="post" action="{% url 'product-add' %}">
            {% csrf_token %}
            <label>
                Name
                <input type="text" value="Title" name="Title">
                <input type="text" value="Image" name="Image">
                <input type="text" value="Price" name="Price">
                <input type="text" value="Description" name="Description">
            </label>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>
{% endblock %}